.MainBox {
    background-color: rgb(253, 181, 181);
    padding: 100px;
    width: 700px;
    height: 1000px;
}

.box {
    width: 700px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ulBox ul {
    list-style-type: none;
}

.ulBox ul li{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.ulBox ul li.checked{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 181, 181);
    text-decoration: line-through;
}
.bottomBox{
    margin: 0 auto;
    display: flex;
    width: 500px;
}

.bottomBox p,button{
    display: inline-block;
    width: 100px;
    text-align: center;
}

