.MainBox {
    background-color: rgb(252, 136, 136);
    padding: 100px 200px;
    width: 100%;
    height: 1000px;
    
}

.box {
    width: 700px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ulBox ul{
    list-style-type: none;
}
.ulBox ul li{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.ulBox ul li.checked{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 136, 136);
    text-decoration: line-through;
}

.bottomBox{
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    width: 500px;
}
.bottomBox p,button{
    display: inline-block;
    width: 100px;
    text-align: center;
}





